## Section 6: Arctic Communities

### Data loading and exploration

In [2]:
import pandas as pd 
import os 
import numpy as np 
import geopandas as gpd
import matplotlib.pyplot as plt

In [8]:
fp = os.path.join('data', 'arctic_communities.geojson')
df = gpd.read_file(fp)

In [9]:
df.head()

,admin,country,n_communities,geometry
0,United States of America,US,115,"MULTIPOLYGON (((-132.74687 56.52568, -132.7576..."
1,United Kingdom,GB,96,"MULTIPOLYGON (((-2.66768 51.62300, -2.74214 51..."
2,Sweden,SE,133,"MULTIPOLYGON (((19.07646 57.83594, 18.99375 57..."
3,Russia,RU,774,"MULTIPOLYGON (((145.88154 43.45952, 145.89561 ..."
4,Norway,NO,48,"MULTIPOLYGON (((20.62217 69.03687, 20.49199 69..."

### 2. Brainstorm

Individually, write down high-level steps on how you would explore and wrangle the data to produce the updated map. Do not code anything yet.

Discuss your high-level steps with your team. What do you see as potential challenges to implementing your plan?

Individually:

### 3. Check geometry types

### 4. Explore polygons

### 5. Compute minimum y-coordinate for polygons

### 6. Filter, update CRS, and reproduce map