## Water conflicts in the Colorado River Basin

## Archive exploration 

i. Collected in Colorado by USGS 
ii. 2005 - 2020
iii.

### Data Loading

In [9]:
%pwd

'/Users/joaquinsandoval/MEDS/EDS-220/eds220-2025-sections/week2'

In [29]:
df = pd.read_csv('../data/colorado.csv')
df.columns

Index(['Event', 'Search Source', 'Newspaper', 'Article Title', 'Duplicate',
       'Report Date', 'Report Year', 'Event Date', 'Event Day', 'Event Month',
       'Event Year', 'Conflict Present', 'Crisis Present', 'Basin', 'HUC6',
       'HUC2', 'Place', 'County', 'County FIPS', 'State', 'State FIPS',
       'Urban or Rural', 'Issue Type', 'Event Summary', 'Stakeholders',
       'Intensity Value', 'Comments', 'Related Observation Themes',
       'Article Text Search - water quality',
       'Article Text Search - invasive species',
       'Article Text Search - conservation', 'Article Text Search - drought',
       'Article Text Search - flood',
       'Article Text Search - ground water depletion',
       'Article Text Search - depletion',
       'Article Text Search - infrastructure',
       'Article Text Search - fish passage',
       'Article Text Search - instream water rights',
       'Article Text Search - water rights',
       'Article Text Search - intergovernmental',
       'Article Text Search - water transfers',
       'Article Text Search - navigation', 'Article Text Search - fish',
       'Article Text Search - invasive', 'Article Text Search - diversion',
       'Article Text Search - water diversion',
       'Article Text Search - instream', 'Article Text Search - aquatic'],
      dtype='object')

In [7]:
import pandas as pd
import numpy as np

In [14]:
# Example series
s = pd.Series(['California; Nevada', 'Arizona', np.nan, 'Nevada; Utah'])
s

0    California; Nevada
1               Arizona
2                   NaN
3          Nevada; Utah
dtype: object

In [15]:
# str accessor (doesn't do anything by itself)
s.str

In [16]:
# Use str accessor with additional methods to perform string operations
# .split splits strings by ';' and expands output into separate columns
s.str.split(';', expand=True)

            0        1
0  California   Nevada
1     Arizona     None
2         NaN      NaN
3      Nevada     Utah

In [17]:
# Use stack() method to flatten the data frame into a series
# default is to drop NAs and None from result
s.str.split(';', expand=True).stack()

0  0    California
   1        Nevada
1  0       Arizona
3  0        Nevada
   1          Utah
dtype: object

## Examine state codes

## 7. Brainstorm
1. Subset the dataframe, select for rows for which the conflict present is Yes
2. filter for state column 
3. split values
5. Stack values 
6. Strip - gets ride of white space
4. Get unique states only

## 8. Exploratory Data Wrangling

In [57]:
(df[df['Conflict Present'] == 'Y']['State']  
.str.split(';', expand = True)  
.stack()
.str.strip()
.unique())

array(['CO', 'AZ', 'OH', 'UT', 'CA', 'NV', 'WY', 'NM'], dtype=object)

## 8